@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

.btn-bg {
  background-color: #0092BD;
  color: white;
}

.btn-bgk {
  background-color: #FAB420;
  color: white;
}

.custom-bg:hover {
  background-color: #0092BD;
  color: white;
}

.btn-bgs:hover {
  background-color: #FAB420;
  color: white;
}

.h-white:hover {
  color: white;
}

.h-black:hover {
  color: black;
}